<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лабораторна робота 6.</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js" defer></script>
</head>
<body>
    <div class="container">
        <h1>Лабораторна робота 6. 
            Веб калькулятор для розрахунку.</h1>
        <a href="/task1" class="button">ШР1/ШР2/ШР3</a>
        <a href="/task2" class="button">ЕП</a>
        <a href="/task3" class="button">Весь цех</a>
    </div>
</body>
</html>
